<!DOCTYPE html>

<head>
    <title>Вход</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta http-equiv="Content-Type" charset="utf-8">
</head>

<body>
    <h1><span>Web</span> App</h1>
    <div class='registration-inputs'>
        <form id="form-login" @submit="checkSmsCode" action="/register" method="post">
            <b class='reg-profile-text'>Войти в свой профиль</b>
            <p>
                <label for="login">Логин</label>
                <br>
                <input 
                  placeholder="" 
                  id="login"
                  v-model="login" 
                  type="text" 
                  name="login" 
                  class="input-reg">
                <div class='error-msg' v-bind:class='{showError:isActive}'>{{ errors[0] }}</div>
            </p>

            <p>
                <label for="password">Пароль</label>
                <br>
                <input 
                  placeholder="" 
                  id="password" 
                  v-model="password" 
                  type="text" 
                  name="password" 
                  class="input-reg">
                <div class='error-msg' v-bind:class='{showError:isActive}'>{{ errors[1] }}</div>
            </p>

            <p>
                <button type="button" value="Отправить" class="reg-btn" @click="checkInputs">ВОЙТИ</button>
            </p>
            <a href="http://localhost:3000/regProfile.html">Регистрация</a>
            <div class='modalHide' v-bind:class='{modalShow:showModal}'>
                <transition name="modal">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                            <div class="modal-container">
                              <span v-on:click="showModal=false" class="closebtn">×</span>
                                <p class='center'>
                                    <label for="sms">Пароль в SMS:{{randomNumber}}</label>
                                    <br>
                                    <input 
                                      placeholder="9999" 
                                      id="sms"
                                      v-model="sms" 
                                      type="text" 
                                      name="sms" 
                                      class="input-reg"
                                      maxlength="4" 
                                      >
                                    <div class='center'>
                                    <div class='error-msg' 
                                       v-bind:class='{showError:isActive}' 
                                       class ='center'>{{ errors[3] }}
                                     </div>
                                   </div>  
                                </p>
                                <div class='center'>
                                  <button type="submit" id='confirm-sms-btn'>OK</button>
                                </div>
                                </slot>
                            </div>
                        </div>
                    </div>
            </div>
            </transition>
    </div>
    </form>
    </script>

</body>

</html>