input {
  width: 400px;
  height:38px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  padding: 12px 20px 12px 15px;
}

select {
  width: 400px;
  height:40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  padding: 3px 19px 0px 13px;
}

.reg-btn {
  outline: 0;
  outline-offset: 0;
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(90deg, #d162ff 31%,#cc43ae 82%);
  color: white;
  border: #3a76a3;
  margin-right: 5px;
  width: 400px;
  margin-bottom: 15px;
  border-radius: 2px;
  font-size: 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  height: 40px;
  border-radius: 30px;
  font-size: 20px;
  cursor:pointer;
}

span {
  font-weight: 100;
}

h1 {
  font-family: sans-serif;
  margin-left: 200px	
}

.reg-profile-text {
  font-family: sans-serif;
}

label {
  font-family: sans-serif;
}

#form-reg {
  margin-left: 200px;	
}

#form-login {
  margin-left: 200px; 
}

.registration-inputs {
  text-align: -webkit-left;
}

.autocomplete-result-list {
  width: 400px !important;
  border-radius: 4px !important;
}

.error-msg {
  color:red;
  position: relative;
  bottom:9px;
  display: none;
  font-family: sans-serif;
}

@media screen and (min-width: 300px) and (max-width: 1025px){
   .registration-inputs {
   	  text-align: center !important;
   }

   #form-reg {
   	  margin: 0 auto !important;
   	  font-size: -webkit-xxx-large !important;
   }

   #form-login {
      margin: 0 auto !important;
      font-size: -webkit-xxx-large !important;
   }

   h1 {
     margin-left: 0px !important;
     font-size: 100px;
     text-align: center;
   }

   input {
   	 width: 950px !important;
     height: 108px !important;
     font-size: 50px;
   }

   select {
     width: 900px;
     height: 100px;
     font-size: 70px;
   }

   .reg-btn {
   	 width: 950px !important;
   	 height: 100px !important;
   	 font-size: 50px !important;
   }

   #sms {
     width:60% !important;
     padding: 16px 38px 17px 79px !important;
   }

   .modal-container {
     width:500px !important;
   }

   #confirm-sms-btn {
     font-size: 51px !important;
     height: 100px !important;
     width: 200px !important;
   }
}

.showError {
  display: block;
}

a { 
  text-decoration: none;
  font-family: sans-serif;
}

.modalHide {
  display: none;
} 

.modalShow {
 display: block;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.center {
   text-align: center !important;
}

#sms {
  width:40%;
  padding: 16px 38px 17px 39px;
}

.closebtn {
  margin-left: 15px;
  color: grey;
  font-weight: bold;
  float: right;
  font-size: 26px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 0px;
}

#confirm-sms-btn{
  outline: 0;
  outline-offset: 0;
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(90deg, #d162ff 31%,#cc43ae 82%);
  color: white;
  border: #3a76a3;
  margin-right: 5px;
  width: 150px;
  margin-bottom: 15px;
  border-radius: 2px;
  font-size: 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  height: 40px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
}

}